*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
content/advanced-cache.php
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/wp-cache-config.php

wp/readme.html
wp/license.txt